<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog Board App</title>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="/stylesheet/app.css">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css">
</head>
<body>
    <nav class="navigation_bar">
        <div>
            <h3>Blog Board</h3>
        </div>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/">About</a></li>
        
        </ul>
        <div class="user_nav">
            <% if (!user) { %>
                <a href="/login">Login</a>
                <a href="/register">Register</a>
            <% } else { %>
                Welcome <%=user.username%>
                <a href="/logout">Logout</a>
            <%} %>
        </div>
    </nav><br>
    <% if (error_message && error_message.length > 0) { %>
        <div class="container">
            <div class="alert alert-danger" role="alert">
                <%=error_message %>
            </div>
        </div>
    <% } %>
    
    <% if (success_message && success_message.length > 0) { %>
        <div class="container">
            <div class="alert alert-success" role="alert">
                <%=success_message %>
            </div>
        </div>
    <% } %>
