<%- include('partials/header') %>
<div class="container">
    <h2 class="create_new">Edit <%=foundData.placeName%></h2>
    <form action="/blog/travel/<%=foundData._id%>"></form>
</div>


<%- include('partials/footer') %>