/* Glboal */
* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
/* ===================================================*/
/* =================header Page====================== */
/* ===================================================*/
.navigation_bar {
    background-color: rgb(226, 226, 226);
    display: flex;
    justify-content: space-around;
    min-height: 3em;
    align-items: center;
    color: rgb(73, 73, 73);
}

.navigation_bar h3 {
    text-transform: uppercase;
    display:inline;
    letter-spacing: 0.25em;
}

.navigation_bar ul {
    display: flex;
    width: 70%;
    font-size: 1.5rem;
    justify-content: space-around;
}

.navigation_bar ul li {
    list-style: none;
    padding-top: 1em;
}
.navigation_bar ul li a {
    text-decoration: none;
    color: rgb(73, 73, 73);
}
.navigation_bar ul li a:hover {
    font-size: 1.0rem;
}

/* ===================================================*/
/* ==================welcome Page=====================*/
/* ===================================================*/
.welcomepage {
    background-image: url("https://images.unsplash.com/photo-1472289065668-ce650ac443d2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60");
    width: 100%;
    height: 100%;
}

.jumbotron,
.welcome_contents {
    background: rgba(204, 204, 204, 0.8);
}

/* ===================================================*/
/* ===================/blog Page======================*/
/* ===================================================*/
.figure img {
    width: 200px;
    height: 150px;
    object-fit: cover;
    border: 2px solid purple;
}
.figure img:hover {
    box-shadow: 2px 2px 2px 2px red;
}
/* ===================================================*/
/* =================blog/soccer Page==================*/
/* ===================================================*/
/* Todo: On blog/soccer/detail Page will contains very similar style. 
         if nothing will be specialized on that page then refactor the code.
*/

/* team name of the data */
figcaption strong {
    text-transform: capitalize;
}

.soccer_description::first-letter {
    text-transform: capitalize;
}

/* ===================================================*/
/* ===============blog/soccer/new Page================*/
/* ===============blog/soccer/edit Page============== */
/* ===============blog/comment/new page============== */
/* Todo: change the name of the class name because 
         it also edits */
/* ===================================================*/
.create_title {
    text-align: center;
}

.create_new {
    width: 30%;
    margin: 10px  auto;
}

.form-group input:focus {
    border: 2px solid blue;
}

.form-group textarea:focus {
    border: 2px solid blue;
}

.deleteForm {
    display: inline;
}
/* ===================================================*/
/* ============blog/soccer/detail Page============== */
/* ===================================================*/
.details_info_background {
    padding: 50px;
    background: rgba(204, 204, 204, 0.3);
    width: auto;
}
/* Media Query for blog/soccer/detail */
@media (max-width: 1200px) {
    .details_info_background {
        background-color: blue;
        display: block;
        margin: 0 auto;
    }
    .detail_Picture {
        margin: 0 auto
    }
}

.detail_Picture {
    margin-top: 15%;
    margin-left: auto;
    margin-right: auto;
}

.detail_info {
    margin-top: 20%;
}

h3.details_info_title{
    display: inline;
    text-transform: capitalize;
}

.details_info_sepeate_line {
    background-color: purple;
    width: calc(20% - 10px);
    height: 2px;
}

.details_info_description::first-letter {
    text-transform: capitalize;
}

/* ===================================================*/
/* =====================Footer======================= */
/* ===================================================*/
footer {
    margin-top: 20px;
}