@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

:root {
    --navigation_color: rgb(226, 226, 226);
    --navigation_font_color: rgb(73, 73, 73);
}

/* Glboal */
* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
/* ===================================================*/
/* =================header Page====================== */
/* ===================================================*/
.navigation_bar {
    display: flex;
    justify-content: space-around;
    min-height: 3em;
    align-items: center;
    flex-wrap: wrap;
    color: var(--navigation_font_color);
    border-bottom: 1px solid var(--navigation_font_color);
}

.navigation_bar h3 {
    text-transform: uppercase;
    flex: 2;
    letter-spacing: 0.25em;
}

.navigation_bar ul {
    display: flex;
    flex: 1;
    justify-content: space-around;
    align-items: center;
    font-size: 1.2rem;
}

.navigation_bar ul li {
    list-style: none;
}

.navigation_bar ul li a {
    text-decoration: none;
    color: var(--navigation_font_color);
}
.navigation_bar ul li a:hover {
    border-bottom: 2px solid var(--navigation_font_color);
}

.navigation_bar > .user_nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 1.0rem;
    flex: 1;
}

.navigation_bar > .user_nav a {
    margin: 0rem 1rem;
    text-decoration: none;
    color: var(--navigation_font_color);
}

.navigation_bar > .user_nav a:hover {
    border-bottom: 2px solid var(--navigation_font_color);
}
/* ===================================================*/
/* ==================welcome Page=====================*/
/* ===================================================*/
.welcome_introduction {
    width: 90%;
    margin: 1rem auto;
    display: flex;
    border: 1px solid var(--navigation_color);
    justify-content: space-evenly;
}
.welcome_introduction > .right_image {
    flex: 1;
}

.welcome_introduction > .right_image img {
    width: 380px;
    height: 380px;
    margin: 1rem 2rem;
    filter: drop-shadow(2px 7px 5px black);
}

.welcome_introduction > .intro_content {
    flex: 2;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    /* margin-bottom: 1rem; */
    padding: 4rem;
}

.welcome_introduction > .intro_content > h3 {
    letter-spacing: 0.4rem;
    font-size: 2rem;
    margin: 1rem 1rem;
}

.welcome_introduction > .intro_content p {
    letter-spacing: 0.2rem;
    margin: 0.5rem 5rem;
    font-size: 1.5rem;
}

.welcome_introduction > .intro_content > div > a {
    margin-top: 1.5rem;
    font-size: 1.2rem;
    text-decoration: none;
    color: var(--navigation_font_color);
    cursor: pointer;
    text-shadow: 0.8px 0.8px 0.8px blue;
}

.main_section_intro {
    width: 90%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 0 auto;
}

.main_section_intro > .blog_list_left {
    flex: 1.5;
    margin: 0rem auto;
    text-align: center;
}

.main_section_intro > .blog_list_left > .slide_show img {
    width: 50%;
    height: 20rem;
    filter: drop-shadow(1px 8px 5px black);
    margin: 0rem 0.5rem;
}

.main_section_intro > .blog_list_left > .slide_show span i {
    font-size: 3rem;
    cursor: pointer;
}

.main_section_intro > .blog_list_left > .slide_show > .list_blog_line {
    width: 50%;
    margin: 1rem auto;
    background-color: var(--navigation_color);
}

.main_section_intro > .blog_list_right {
    flex: 1;
    padding: 2rem;
}

.main_section_intro > .blog_list_right > .blog_list_explanation {
    font-size: 1.2rem;
    font-weight: bold;
}

.main_section_intro > .blog_list_right > ul {
    list-style: none;
}

.lists_webframeworks {
    width: 90%;
    margin: 0 auto;
}

.lists_webframeworks > .lists_framework_container {
    border: 1px solid var(--navigation_color);
    padding: 1.5rem;
}

.lists_webframeworks > .lists_framework_container > h3 {
    letter-spacing: 0.2rem;
    margin-bottom: 1.5rem;
}

.lists_webframeworks > .lists_framework_container > ul {
    list-style: none;
    margin: 0.5rem;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.lists_webframeworks > .lists_framework_container > ul > li {
    margin: 0.25rem;
    padding: 0.6rem;
    border: 1px solid var(--navigation_color);
    border-radius: 1rem;
    letter-spacing: 0.1rem;
}

.section_divider {
    width: 100%;
    background-color: var(--navigation_color);
}

.footer {
    margin: 1rem;
    padding: 2rem;
    min-height: 5rem;
}

.footer > .footer_container {
    display: flex;
    justify-content: space-between;
    color: var(--navigation_font_color);
    align-items: center;
}

.footer > .footer_container > .credit_author > h4 {
    margin: 0.5rem 0rem;
}

.footer > .footer_container > .credit_author > h4 > .author{
    font-weight: normal;
    font-size: 1.0rem;
}

.footer > .footer_container > .credit_author > h4 > .icons {
    font-weight: normal;
    font-size: 1.0rem;
}

.footer > .footer_container > .credit_author > h4 > .icons > a {
    color: var(--navigation_font_color);
}

.footer > .footer_container > .credit_author > h4 > .images {
    font-weight: normal;
    font-size: 1.0rem;
}

.footer > .footer_container > .credit_author > h4 > .images > a {
    color: var(--navigation_font_color);
}

.footer > .footer_container > .git_repo > a {
    color: var(--navigation_font_color);
}

.footer > .footer_container > .git_repo > a > i {
    font-size: 2rem;
    color: var(--navigation_font_color);
    margin: 0rem 0.5rem;
}

.footer > .footer_container > .arrow_up > i {
    font-size: 2rem;
    cursor: pointer;
    border: 2px solid var(--navigation_color);
    border-radius: 1.5rem;
    padding: 0.5rem;
}

/* ===================================================*/
/* ================End Welcome Page===================*/
/* ===================================================*/

/* ===================================================*/
/* ===================/blog Page======================*/
/* ===================================================*/
.blogs_blog_contents {
    border: 1px solid var(--navigation_color);
    padding: 0.5rem;
    width: 90%;
    margin: 2rem auto;
}

.figure img {
    width: 200px;
    height: 150px;
    object-fit: cover;
    border: 2px solid purple;
}
.figure img:hover {
    box-shadow: 2px 2px 2px 2px red;
}

.blog_updated_items {
    width: 90%;
    margin: 1rem auto;
    border: 1px solid var(--navigation_color);
    padding: 0.9rem;
}

.blog_updated_items > .blog_soccer_updated {
    display: flex;
}

.blog_updated_items > .blog_soccer_updated > .soccer_recent_content {
    width: 35%;
}

.blog_updated_items > .blog_soccer_updated > .soccer_recent_content > .soccer_info_container {
    display: flex;
    margin: 1.5rem;
}

.blog_updated_items > .blog_soccer_updated > .soccer_recent_content > .soccer_info_container > .soccer_recent_img > img {
    width: 200px;
    height: 180px;
    margin-right: 0.8rem;
} 

.blog_updated_items > .blog_soccer_updated > .soccer_recent_content > .soccer_info_container > .soccer_recent_info {
    padding: 0.3rem;
}

/* ===================================================*/
/* =================blog/soccer Page==================*/
/* ===================================================*/
/* Todo: On blog/soccer/detail Page will contains very similar style. 
         if nothing will be specialized on that page then refactor the code.
*/

/* team name of the data */
figcaption strong {
    text-transform: capitalize;
}

.soccer_description::first-letter {
    text-transform: capitalize;
}

/* ===================================================*/
/* ===============blog/soccer/new Page================*/
/* ===============blog/soccer/edit Page============== */
/* ===============blog/comment/new page============== */
/* Todo: change the name of the class name because 
         it also edits */
/* ===================================================*/
.create_title {
    text-align: center;
}

.create_new {
    width: 30%;
    margin: 10px  auto;
}

.form-group input:focus {
    border: 2px solid blue;
}

.form-group textarea:focus {
    border: 2px solid blue;
}

.deleteForm {
    display: inline;
}
/* ===================================================*/
/* ============blog/soccer/detail Page============== */
/* ===================================================*/
.details_info_background {
    padding: 50px;
    background: rgba(204, 204, 204, 0.3);
    width: auto;
}
/* Media Query for blog/soccer/detail */
@media (max-width: 1200px) {
    .details_info_background {
        background-color: blue;
        display: block;
        margin: 0 auto;
    }
    .detail_Picture {
        margin: 0 auto
    }
}

.detail_Picture {
    margin-top: 15%;
    margin-left: auto;
    margin-right: auto;
}

.detail_info {
    margin-top: 20%;
}

h3.details_info_title{
    display: inline;
    text-transform: capitalize;
}

.details_info_sepeate_line {
    background-color: purple;
    width: calc(20% - 10px);
    height: 2px;
}

.details_info_description::first-letter {
    text-transform: capitalize;
}

/* ===================================================*/
/* =====================Footer======================= */
/* ===================================================*/
footer {
    margin-top: 20px;
}