<%- include('partials/header') %>
<br><br>
<div class="container">
    <h3>Pick Blog You are interested in!</h3><br>
    <div class="row">
            <div class="col-md-4">
                <figure class="figure">
                    <a href="/blog/soccer">
                        <img class="figure-img img-fluid rounded" src="https://images.unsplash.com/photo-1570498839593-e565b39455fc?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60"
                        alt="Soccer Blogs"></a>
                        <figcaption class="figure-caption"><a href="/blog/soccer">View Soccer Blog</a></figcaption> 
                </figure>
            </div>
            <div class="col-md-4">
                <figure class="figure">
                    <a href="/blog/travel">
                        <img class="figure-img img-fluid rounded" src="https://images.unsplash.com/photo-1592805145102-8578dcd1e41f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=400&q=60" 
                        alt="Travel">
                    </a>
                    <figcaption class="figure-caption"><a href="/blog/travel">View Travel Blog</a></figcaption>
                </figure>
            </div>
            <div class="col-md-4">
                <figure class="figure">
                    <a href="/blog/programming">
                        <img class="figure-img img-fluid rounded" src="https://images.unsplash.com/photo-1525373698358-041e3a460346?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" 
                        alt="">
                    </a>
                    <figcaption class="figure-caption"><a href="/blog/programming">View Programming Blog</a></figcaption>
                </figure>
            </div>
            <div class="col-md-4">
                <figure class="figure">
                    <a href="/blog/nature">
                        <img class="figure-img img-fluid rounded" src="https://images.unsplash.com/photo-1523616774253-1ff2246e93f4?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" 
                        alt="">
                    </a>
                    <figcaption class="figure-caption"><a href="/blog/nature">View Nature Blog</a></figcaption>
                </figure>
            </div>
            <div class="col-md-4">
                <figure class="figure">
                    <a href="/blog/coffee">
                        <img class="figure-img img-fluid rounded" src="https://images.unsplash.com/photo-1518057111178-44a106bad636?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" 
                        alt="">
                    </a>
                    <figcaption class="figure-caption"><a href="/blog/coffee">View Coffee Blog</a></figcaption>
                </figure>
            </div>
    </div>
    
</div>

    <!-- Soccer -->
    <!-- Travel -->
    <!-- Programming -->
    <!-- Nature -->
    <!-- Coffee -->

<%- include('partials/footer') %>