<%- include('partials/header') %>

<!-- Introduction -->
<section>
    <header class="welcome_introduction">
        <div class="right_image">
            <img src="/images/Introduction_img.jpg" alt="blog image">
        </div>
        <div class="intro_content">
            <h3>Welcome to my first express webframe work</h3>
            <p>I made this blog to experience basics of express webframework
            and basic idea of RESTful API
            </p>
            <div>
                <a href="/blogs">Click to Visit the Blog</a> 
            </div>
        </div>
    </header>
</section>
<!-- End Introduction -->
<!-- Main -->
<hr class="section_divider">
<section>
    <main class="main_section_intro">
        <div class="blog_list_left">
            <h3>List of Blogs</h3>
            <div class="slide_show">
                <span><i class="fa fa-arrow-left" aria-hidden="true"></i></span>
                <img src="../images/Soccer_main.jpg" alt="soccer img">
                <span><i class="fa fa-arrow-right" aria-hidden="true"></i></span>
                <hr class="list_blog_line">
                <caption class="main_blog_description">
                    <p>The Soccer Blog</p>
                </caption>
            </div>
        </div>
        <div class="blog_list_right">
            <p class="blog_list_explanation">The following Toy Project contains of total 3 blogs</p>
            <ul>
                <li>Soccer</li>
                <li>Travel</li>
                <li>Coffee</li>
            </ul>
        </div>
    </main>
</section>
<hr class="section_divider">
<!-- End Main -->
<!-- Lists of Webframe work used -->
<section class="lists_webframeworks">
    <div class="lists_framework_container">
        <h3>Lists of Web Framework used in this Toy Project</h3>
        <ul>
            <li>connect-flash</li>
            <li>ejs</li>
            <li>express</li>
            <li>express-session</li>
            <li>method-override</li>
            <li>mongoose</li>
            <li>passport</li>
            <li>passport-local</li>
            <li>passport-local-mongoose</li>
        </ul>
    </div>
</section>
<hr class="section_divider">
<!-- Footer -->
<footer class="footer">
    <div class="footer_container">
         <div class="credit_author">
            <h4>Author: <span class="author">Jun H Park</span></h4>
            <h4>References</h4>
            <h4>Icons: 
                <span class="icons">
                    <a href="https://fontawesome.com/" target="_blank">Fontawesome</a>
                </span>
            </h4>
            <h4>
                Images:
                <span class="images">
                    <a href="https://unsplash.com/" target="_blank">Unsplash</a>
                </span>
            </h4>
         </div>
         <div class="git_repo">
            <a href="https://github.com/jhpp114/Blog_Board" target="_blank"><i class="fab fa-github"></i>Toy Project Github</a>
         </div>
         <div class="arrow_up">
            <i class="fas fa-chevron-up"></i>
         </div>
    </div>
</footer>
<!-- End Footer -->
<!-- End webframework -->
<%- include('partials/footer') %>