<%- include('partials/header') %>

<section>
    <header class="welcome_introduction">
        <div class="right_image">
            <img src="/images/Introduction_img.jpg" alt="blog image">
        </div>
        <div class="intro_content">
            <h3>Welcome to my first express webframe work</h3>
            <p>I made this blog to experience basics of express webframework
            and basic idea of RESTful</p>
            <div class="lists_webframework">
                <h4>Following framework had been used</h4>    
                <div class="lists_tags">
                    <span>Express</span>
                    <span>Ejs</span>
                    <span>Mongoose</span>
                    <span>method-override</span>
                    <span>Passport</span>
                    <span>passport-local</span>
                    <span>passport-local-mongoose</span>
                    <span>express-session</span>
                </div>
            </div>
        </div>
    </header>
</section>

<%- include('partials/footer') %>